* { box-sizing: border-box }

body {
    background  : #222;
    color       : #EEE;
    text-align  : center;
    font-family : sans-serif;
    font-weight : 100;
}

main {

    padding: 40px 20px;
}

main #info { -webkit-transition: 0.3s all ease-in; transition: 0.3s all ease-in; opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

main #info.hidden { opacity: 0; -webkit-transform: scale(0.5); transform: scale(0.5); -webkit-transform-origin: center center; transform-origin: center center }

main #temperature { font-size: 24px }

main #value { display: inline-block; text-align: right; width: 5rem; }

main #units { font-family: monospace; display: inline-block; margin-left: 7px; padding: 10px; background: #EEE; color: #222; border-radius: 7px; }

@media (min-width: 768px) {

 main { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%) } }

@media (min-width: 768px) {

 main #temperature { font-size: 40px } }

.section-title {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: 1.2rem
}

@media (min-width: 768px) {

 .section-title { font-size: 4.5rem; font-weight: 100; margin: 4rem auto } }

.section-title.sub-heading { -webkit-transform: scale(0.85); transform: scale(0.85); margin: 1rem auto }

.page-lock {
    overflow: hidden
}

.page-lock.loading .loading-circle { display: block; }

.page-lock.loading .loading-circle img { -webkit-animation-name: spin; animation-name: spin; -webkit-animation-duration: 0.85s; animation-duration: 0.85s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite }

.page-lock .page-shadow {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.loading-circle {
    position: fixed;
    display: none;
    width: 10rem;
    height: 10rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

.loading-circle img { width: 100%; height: 100%; }

@-webkit-keyframes spin {
    from { -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(0deg); transform: rotate(0deg)   }
    to   { -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(360deg); transform: rotate(360deg) }
}

@keyframes spin {
    from { -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(0deg); transform: rotate(0deg)   }
    to   { -webkit-transform-origin: center center; transform-origin: center center; -webkit-transform: rotate(360deg); transform: rotate(360deg) }
}
