* { box-sizing: border-box }

body {
    background: #4169e1;
    color: #FFF;
}

#timer {

    font-size: 5rem;
    font-family: monospace;
    text-align: center;
    margin: 0;

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

#timer-container { width: 20rem; height: 20rem; border-radius: 10rem; border: 5px solid #FFF; margin-top: 40px; margin: 0 auto }

#timer-container.on-break { color: #4169e1; background: #FFF }

#toggle-play .pause-bar-seperator { width: 5px; heigth: }

#toggle-play.play { height: 0; width: 0; border-color: transparent; border-left-color: #FFF; }

#toggle-play.play .pause-bar-seperator { display: none }
