* { box-sizing: border-box }

$bg: #4169e1;
$fg: #FFF;

$pomoS: 20rem;

body {
    background: $bg;
    color: $fg;
}

#timer {
    &-container {
        width: $pomoS;
        height: $pomoS;
        border-radius: calc($pomoS / 2);
        border: 5px solid $fg;
        margin-top: 40px;
        margin: 0 auto;

        &.on-break {
            color      : $bg;
            background : $fg;
        }
    }

    font-size: 5rem;
    font-family: monospace;
    text-align: center;
    margin: 0;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#toggle-play {
    &.play {
        .pause-bar-seperator { display: none }

        height: 0;
        width: 0;
        border-color: transparent;
        border-left-color: $fg;
    }

    .pause-bar-seperator {
        width: 5px;
        heigth:
    }
}
